@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans KR", sans-serif;
  padding-bottom: env(safe-area-inset-bottom);
}

/* * {
  @apply transition-colors duration-100;
} */

/* .dark {
  background-color: #23272f;
  color: #fff;
} */

.menu {
  top: 112px;
}

.drawer-content {
  max-height: initial !important;
  min-height: -webkit-fill-available;
}

.drawer-toggle:checked + .drawer-content {
  max-height: 100vh !important;
}

.js-searchedItem:active span {
  color: white !important;
}

.card figure img {
  max-width: 50%;
  max-height: 50%;
}
